.tree ul,
.tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

button.MenuButton {
  margin-left: 10px;
}

div.ChangeParentCategoryMessage {
  background-color: var(--mdc-filled-text-field-container-color);
  padding: 10px;
  text-align: center;
}

div.ChangeParentCategoryMessage button {
  margin: 4px;
}

span.HighLight {
  background-color: #660;
  border-radius: 5px;
  padding: 8px;
}