table.TableProgress {
    border-spacing: 0;
    width: 100%;
}

table.TableProgress tr.RowHeader {
    background-color: var(--table-header-background-color) !important;
}

table.TableProgress tr th {
    font-weight: normal;
    line-height: 48px;
    text-align: left;
}

table.TableProgress tr th.ColumnNumber {
    width: 48px;
}

table.TableProgress tr th.ColumnButton {
    width: 48px;
}

table.TableProgress tr th,
table.TableProgress tr td {
    padding: 0 8px;
}

table.TableProgress tr:nth-child(odd) {
    background-color: var(--table-row-background-color);
}

table.TableProgress tr:nth-child(even) {
    background-color: var(--table-row-alternating-background-color);
}

table.TableProgress tr td span.ProgressBar {
    background-color: var(--light-blue-color);
    display: inline-block;
    height: 1em;
}

div.ProductPhoto {
    background-color: var(--light-gray-color);
}

div.ProductPhoto span.FileName {
    color: #bbb;
    display: block;
    height: 2em;
    font-size: 0.8em;
    padding: 0 20px;
}

div.ProductPhoto img {
    border: none;
    display: block;
    height: auto;
    width: 100%;
}

div.ProductPhoto p {
    display: block;
    min-height: 4.8em;
    line-height: 1.6em;
    margin: 0 !important;
    padding: 10px 20px;
}