<h2 mat-dialog-title>{{this.productPhoto.File}}</h2>
<form (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput [formControl]="controlDescription" maxlength="250" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="disabled" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" color="accent" [disabled]="formLoading">
      <mat-icon *ngIf="formLoading">
        <mat-spinner diameter="18" />
      </mat-icon>
      Save
    </button>
  </mat-dialog-actions>
</form>