<header>
    <div class="CenteredContainer">
        <div class="LogoAndNavigation">
            <a id="Logo" [routerLink]="['/']">
                <img src="assets/images/Header Logo.png" width="46" height="64" alt="DGB Commerce" />
                <span>DGB Commerce</span>
            </a>
            <ul>
                <li><a [routerLink]="['/']" [routerLinkActive]="['Active']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
                <li><a [routerLink]="['/news']" [routerLinkActive]="['Active']">News</a></li>
                <li><a [routerLink]="['/pricing']" [routerLinkActive]="['Active']">Pricing</a></li>
                <li><a [routerLink]="['/faq']" [routerLinkActive]="['Active']">FAQ</a></li>
                <li><a [routerLink]="['/shops']" [routerLinkActive]="['Active']">Shops</a></li>
                <li><a [routerLink]="['/about']" [routerLinkActive]="['Active']">About</a></li>
            </ul>
            <div class="ClearBoth"></div>
        </div>
        <div class="CallToAction" *ngIf="this.showCallToAction">
            <div class="Wrapper">
                <img src="/assets/images/CallToAction.png" width="180" height="280" alt="DigiByte powered payments" />
                <strong>Set up shop with us!</strong>
                <span class="Explanation">Give your customers a seamless shopping experience and a peer-to-peer checkout process using the DigiByte blockchain.</span>
                <div class="Buttons">
                    <button mat-button [routerLink]="['/about']">About DGB Commerce</button>
                    <button mat-raised-button color="accent" (click)="signUp()">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="Body">
    <div class="CenteredContainer">
        <router-outlet></router-outlet>
    </div>
</div>
<div id="Stats">
    <div class="CenteredContainer">
        <div class="ColumnOneFourth">
            <div class="WrapperPadding20-10-20-8">
                <strong>{{this.stats.Merchants}}</strong>
                Registered merchants
            </div>
        </div>
        <div class="ColumnOneFourth">
            <div class="WrapperPadding20-10-20-10">
                <strong>{{this.stats.Shops}}</strong>
                Managed shops
            </div>
        </div>
        <div class="ColumnOneFourth">
            <div class="WrapperPadding20-10-20-10">
                <strong>{{this.stats.Products}}</strong>
                Available products
            </div>
        </div>
        <div class="ColumnOneFourth">
            <div class="WrapperPadding20-8-20-10">
                <strong>{{this.stats.Orders}}</strong>
                Placed orders
            </div>
        </div>
    </div>
    <div class="ClearLeft">&nbsp;</div>
</div>
<footer>
    <div class="CenteredContainer">
        <div class="ColumnOneHalf">
            <div class="WrapperPadding20-10-20-8">
                <h3>About DGB Commerce</h3>
                <p>DGB Commerce is an <strong>e-commerce</strong> platform by and for DigiByte users. Merchants can manage shops, categories and products and list/sell them for DigiByte prices. A true decentralized peer-to-peer marketplace.</p>
            </div>
        </div>
        <div class="ColumnOneFourth">
            <div class="WrapperPadding20-10">
                <h3>Links</h3>
                <ul>
                    <li><a target="_blank" href="https://www.digibyte.org">DigiByte website</a></li>
                    <li><a target="_blank" href="https://www.dgbat.org">DigiByte Awareness Team</a></li>
                    <li><a target="_blank" href="https://www.dgbwiki.com">DigiByte Wiki</a></li>
                    <li><a target="_blank" href="https://chainz.cryptoid.info/dgb">cryptoID (DigiByte blockchain explorer)</a></li>
                </ul>
            </div>
        </div>
        <div class="ColumnOneFourth">
            <div class="WrapperPadding20-8-20-10">
                <h3>Featured shops</h3>
                <ul>
                    <li *ngFor="let shop of this.featuredShops"><a target="_blank">{{shop.Name}}</a></li>
                    <li>Your shop here?</li>
                </ul>
            </div>
        </div>
        <div class="ClearLeft"></div>
    </div>
</footer>