<div class="ColumnOneFourth">
    <div class="WrapperPadding20-20-20-8 TextAlignCenter">
        <h2>Pricing</h2>
        <img class="PublicWebsiteImage" src="/assets/images/Pricing 1 Percent.png" width="150" height="150" alt="1%" />
    </div>
</div>
<div class="ColumnOneHalf">
    <div class="WrapperPadding20-8-20-20">
        <p>Our pricing model is very straightforward. We simply charge a 1% commission on your sales. For every 1000 units of any crypto you sell, you receive 990 units in your supplied wallet address and Your Crypto Shop receives 10 units. It's that simple, and it effectively makes Your Crypto Shop "<em>no cure, no pay</em>"! Network fees for the chosen cryptocurrency for payment apply.</p>
        <p>As a merchant using Your Crypto Shop's platform there are no web server, web hosting, web site maintenance or other costs involved. We got you covered. You can focus completely on your product catalog, customers and sales. All platform features are available for any registered merchant, there are no required features tucked away behind a complicated licensing model.</p>
    </div>
</div>
<div class="ClearLeft"></div>