<div class="ColumnOneHalf">
    <div class="WrapperPadding20-10-20-8">
        <h2>Under construction</h2>
        <p>This website and the underlying platform are still under construction for the time being. Check out our <a
                href="https://t.me/DGBCommerceAnnouncements" target="_blank">Telegram</a>, <a
                href="https://www.x.com/DGBCommerce" target="_blank">X</a>, <a
                href="https://www.facebook.com/dgbcommerce" target="_blank">Facebook</a>, <a
                href="https://www.linkedin.com/company/dgbcommerce" target="_blank">LinkedIn</a> or <a
                href="https://github.com/LeroyGerrits" target="_blank">GitHub</a> pages in the meantime to keep up to
            date about the progress or any scoops!</p>
    </div>
</div>
<div class="ColumnOneHalf">
    <div class="WrapperPadding20-8-20-10">
        <h2>To-do list</h2>
        <ul>
            <li>
                General
                <ul>
                    <li><span class="TextDecorationLineThrough">Web server / IIS configuration</span></li>
                    <li><span class="TextDecorationLineThrough">SSL certificate *.dgbcommerce.com</span></li>
                    <li><span class="TextDecorationLineThrough">Set up social media channels</span></li>
                </ul>
            </li>
            <li>
                Website + Control panel
                <ul>
                    <li>
                        <span>General</span>
                        <ul>
                            <li><span>Responsiveness / Adaptiveness</span></li>
                            <li><span>Unit tests</span></li>
                            <li><span>Integration tests</span></li>
                        </ul>
                    </li>
                    <li><span>Dashboard</span></li>
                    <li><span>Control Panel - Configuration - Delivery methods</span></li>
                    <li><span>Control Panel - Configuration - Shops</span></li>
                    <li><span>Control Panel - Catalog - Categories</span></li>
                    <li><span>Control Panel - Catalog - Products</span></li>
                    <li><span>Control Panel - Customers</span></li>
                    <li><span>Control Panel - Sales - Orders</span></li>
                    <li><span>Control Panel - Sales - Transactions</span></li>
                    <li><span>Account - Register</span></li>
                    <li><span>Account - Log in</span></li>
                    <li><span>Account - Settings</span></li>
                    <li><span>Account - Log out</span></li>
                    <li><span>Index</span></li>
                    <li><span>News</span></li>
                    <li><span class="TextDecorationLineThrough">Pricing</span></li>
                    <li><span>FAQ</span></li>
                    <li><span class="TextDecorationLineThrough">About</span></li>
                </ul>
            </li>
            <li>
                <span>Shop website</span>
                <ul>
                    <li><span>Template</span></li>
                    <li><span>Multiple layout varieties</span></li>
                    <li><span>Unit tests</span></li>
                    <li><span>Integration tests</span></li>
                </ul>
            </li>
            <li>
                <span>API</span>
                <ul>
                    <li><span>Logging service</span></li>
                    <li><span>Database modelling</span></li>
                    <li><span>Category controller</span></li>
                    <li><span>Customer controller</span></li>
                    <li><span>Delivery Method controller</span></li>
                    <li><span>DigiByte Wallet controller</span></li>
                    <li><span>FAQ controller</span></li>
                    <li><span>Merchant controller</span></li>
                    <li><span>News controller</span></li>
                    <li><span>Order controller</span></li>
                    <li><span>Product controller</span></li>
                    <li><span>Shop controller</span></li>
                    <li><span>Transaction controller</span></li>
                    <li><span>Unit tests</span></li>
                    <li><span>Integration tests</span></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="ClearLeft"></div>