<h1>Index</h1>

<ul>
    <li>
        General
        <ul>
            <li><span class="TextDecorationLineThrough">Web server / IIS configuration</span></li>
            <li><span class="TextDecorationLineThrough">SSL certificate *.dgbcommerce.com</span></li>
            <li><span class="TextDecorationLineThrough">Set up social media channels</span></li>
        </ul>
    </li>
    <li>
        Website + Control panel
        <ul>
            <li>
                <span>General</span>
                <ul>
                    <li><span>Responsiveness / Adaptiveness</span></li>
                    <li><span>Unit tests</span></li>
                    <li><span>Integration tests</span></li>
                </ul>
            </li>
            <li><span>Dashboard</span></li>
            <li><span>Control Panel - Configuration - Delivery methods</span></li>
            <li><span>Control Panel - Configuration - Shops</span></li>
            <li><span>Control Panel - Catalog - Categories</span></li>
            <li><span>Control Panel - Catalog - Products</span></li>
            <li><span>Control Panel - Customers</span></li>
            <li><span>Control Panel - Sales - Orders</span></li>
            <li><span>Control Panel - Sales - Transactions</span></li>
            <li><span>Account - Register</span></li>
            <li><span>Account - Log in</span></li>
            <li><span>Account - Settings</span></li>
            <li><span>Account - Log out</span></li>
        </ul>
    </li>
    <li>
        <span>Shop website</span>
        <ul>
            <li><span>Template</span></li>
            <li><span>Multiple layout varieties</span></li>
            <li><span>Unit tests</span></li>
            <li><span>Integration tests</span></li>
        </ul>
    </li>
    <li>
        <span>API</span>
        <ul>
            <li><span>Database modelling</span></li>
            <li><span>Category controller</span></li>
            <li><span>Customer controller</span></li>
            <li><span>Delivery Method controller</span></li>
            <li><span>Digibyte Wallet controller</span></li>
            <li><span>FAQ controller</span></li>            
            <li><span>Merchant controller</span></li>
            <li><span>News controller</span></li>
            <li><span>Order controller</span></li>
            <li><span>Product controller</span></li>
            <li><span>Shop controller</span></li>
            <li><span>Transaction controller</span></li>
            <li><span>Unit tests</span></li>
            <li><span>Integration tests</span></li>
        </ul>
    </li>
</ul>