<div class="WrapperPadding20-8-0-8">
    <h2>Activate account</h2>
</div>
<div class="WrapperPadding20-8-0-8">
    <p>Hi {{this.merchant.Username}}, almost there! Please choose a password which you will use to log in to your
        account.</p>
</div>
<form (ngSubmit)="onSubmit()">
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [formControl]="controlPassword"
                    [ngClass]="{ 'is-invalid': formSubmitted && controlPassword.errors }" />
                <div *ngIf="formSubmitted && controlPassword.errors" class="TextError">
                    <div *ngIf="controlPassword.errors['required']">Password is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>Use a unique password that you don't use on any
                other website that does not contain your name, birthdate, family member or pet names. The longer and
                more cryptic your password, the better.</p>
        </div>
    </div>
    <div class="ColumnOneHalf ClearLeft">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Repeat password</mat-label>
                <input matInput [formControl]="controlPasswordRepetition"
                    [ngClass]="{ 'is-invalid': formSubmitted && controlPasswordRepetition.errors }" />
                <div *ngIf="formSubmitted && controlPasswordRepetition.errors" class="TextError">
                    <div *ngIf="controlPasswordRepetition.errors['required']">Repeated password is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>Retype your password to make sure you didn't make any typos!</p>
        </div>
    </div>
    <div class="CenteredFormButtons ClearLeft">
        <button mat-raised-button [disabled]="formLoading" type="submit" color="primary">
            <mat-icon *ngIf="formLoading">
                <mat-spinner diameter="18" />
            </mat-icon>
            Set password
        </button>
    </div>
</form>