<div class="WrapperPadding20-8-0-8">
    <h2>Activate account</h2>
</div>
<div class="WrapperPadding20-8">
    <p>Hi {{this.merchant.Username}}, almost there! Please choose a password which you will use to log in to your
        account.</p>
</div>

<form (ngSubmit)="onSubmit()">
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [formControl]="controlPassword"
                    [ngClass]="{ 'is-invalid': formSubmitted && controlPassword.errors }" />
                <div *ngIf="formSubmitted && controlPassword.errors" class="TextError">
                    <div *ngIf="controlPassword.errors['required']">Password is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>Your password. Rules here...</p>
        </div>
    </div>
    <div class="CenteredFormButtons ClearLeft">
        <button mat-raised-button [disabled]="formLoading" type="button"
            [routerLink]="['/control-panel/configuration/shops']">Cancel</button>
        <button mat-raised-button [disabled]="formLoading" type="submit" color="primary">
            <mat-icon *ngIf="formLoading">
                <mat-spinner diameter="18" />
            </mat-icon>
            Save
        </button>
    </div>
</form>