div.NewsMessage {
  background-color: #444;
}

div.NewsMessage div.TitleAndDate {
  padding: 20px;
}

div.NewsMessage div.TitleAndDate h3 {
  display: block;
  line-height: normal;
  margin: 0;
  padding: 0;
}

div.NewsMessage div.TitleAndDate span {
  color: #bbb;
  display: block;
  font-size: 0.8em;
}

div.NewsMessage img {
  border: none;
  display: block;
  height: auto;
  width: 100%;
}

div.NewsMessage p {
  display: block;
  min-height: 4.8em;
  line-height: 1.6em;
  margin: 0 !important;
  padding: 10px 20px;
}