<div class="WrapperPadding20-8-0-8">
    <h2>News</h2>
</div>

<div [ngClass]="{ 'ColumnOneThird': true, 'ClearLeft': (i % 3 == 0) }"
    *ngFor="let newsMessage of this.newsMessages; let i = index">
    <div
        [ngClass]="{ 'WrapperPadding20-10-0-8': (i % 3 == 0), 'WrapperPadding20-9-0-9': (i - 1 % 3 == 0), 'WrapperPadding20-8-0-10': (i - 2 % 3 == 0) }">
        <div class="NewsMessage">
            <div class="TitleAndDate">
                <h3><a
                        [routerLink]="['/news', newsMessage.Id, newsMessage.Title | SearchEngineFriendlyString]">{{newsMessage.Title}}</a>
                </h3>
                <span>{{newsMessage.Date | date: 'd MMM yyyy HH:mm'}}</span>
            </div>
            <a *ngIf="newsMessage.ThumbnailUrl"
                [routerLink]="['/news', newsMessage.Id, newsMessage.Title | SearchEngineFriendlyString]">
                <img [src]="newsMessage.ThumbnailUrl" width="400" height="200" />
            </a>
            <p>{{newsMessage.Intro}}</p>
        </div>
    </div>
</div>
<div class="ClearLeft"></div>