<h2 mat-dialog-title>Forgot password</h2>
<form (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <p>Fill in your e-mail address to receive a link with which you can reset your password.</p>
    <mat-form-field>
      <mat-label>E-mail address</mat-label>
      <input matInput [formControl]="controlEmailAddress" [ngClass]="{ 'is-invalid': this.formSubmitted && controlEmailAddress.errors }" />
      <div *ngIf="this.formSubmitted && controlEmailAddress.errors" class="TextError">
        <div *ngIf="controlEmailAddress.errors['required']">E-mail address is required</div>
        <div *ngIf="controlEmailAddress.errors['email']">A valid e-mail address is required</div>
      </div>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="disabled" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="this.formLoading">
      <mat-icon *ngIf="this.formLoading">
        <mat-spinner diameter="18" />
      </mat-icon>
      Reset password
    </button>
  </mat-dialog-actions>
</form>