<div class="WrapperPadding20-8-0-8">
    <div class="FloatRight">
        <button mat-raised-button color="primary" [routerLink]="['/control-panel/catalog/products/new']"
            [disabled]="!this.shops?.length">
            <mat-icon>add</mat-icon>
            Create new product
        </button>
    </div>
    <h2>Products</h2>
</div>
<div class="WrapperPadding20-8-0-8" *ngIf="!this.shops?.length">
    <span class="WarningBlock">You must <a [routerLink]="['/control-panel/configuration/shops/new']">create a shop</a>
        first before you can manage products.</span>
</div>