<div class="WrapperPadding20-8">
    <h2><a [routerLink]="['/control-panel/catalog/products']">Products</a> - {{this.pageTitle}}</h2>
</div>
<form (ngSubmit)="onSubmit()">

    <mat-tab-group animationDuration="0">
        <mat-tab label="Product">
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="controlName" maxlength="255" [ngClass]="{ 'is-invalid': formSubmitted && controlName.errors }" />
                        <div *ngIf="formSubmitted && controlName.errors" class="TextError">
                            <div *ngIf="controlName.errors['required']">Name is required</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <p>The name of your product. Choose a descriptive name so your customers will now what any additional charges are for.</p>
                </div>
            </div>
            <mat-divider class="ClearLeft" />
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <mat-form-field>
                        <mat-label>Shop</mat-label>
                        <mat-select [formControl]="controlShop" [ngClass]="{ 'is-invalid': controlShop.errors }">
                            <mat-option *ngFor="let shop of this.shops" [value]="shop.Id">{{shop.Name}}</mat-option>
                        </mat-select>
                        <div *ngIf="formSubmitted && controlShop.errors" class="TextError">
                            <div *ngIf="controlShop.errors['required']">Shop is required</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <p>The shop this product will be listed under.</p>
                </div>
            </div>
            <mat-divider class="ClearLeft" />
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input matInput [formControl]="controlPrice" maxlength="20" placeholder="Example: 250.45" [ngClass]="{ 'is-invalid': formSubmitted && controlPrice.errors }" />
                        <div *ngIf="formSubmitted && controlPrice.errors" class="TextError">
                            <div *ngIf="controlPrice.errors['pattern']">Price can only be a numerical value with up to 8 decimals.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <p>The price of the product in flat DigiByte.</p>
                </div>
            </div>
            <mat-divider class="ClearLeft" />
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <mat-form-field>
                        <mat-label>Amount in stock</mat-label>
                        <input matInput [formControl]="controlStock" maxlength="20" placeholder="Example: 25" [ngClass]="{ 'is-invalid': formSubmitted && controlStock.errors }" />
                        <div *ngIf="formSubmitted && controlStock.errors" class="TextError">
                            <div *ngIf="controlStock.errors['pattern']">Amount in stock can only be a numerical value.</div>
                        </div>
                    </mat-form-field>
                </div>
            </div>
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <p>The amount in stock of this product. If your product does not run out of stock, leave this field empty. If an amount is set, this amount decreases every time a customer orders this product until there are 0 left.</p>
                </div>
            </div>
            <mat-divider class="ClearLeft" />
            <div class="ColumnOneHalf">
                <div class="WrapperPadding10-10-0-8 TextAlignRight">
                    <mat-checkbox [formControl]="controlVisible" color="primary" />
                </div>
            </div>
            <div class="ColumnOneHalf">
                <div class="WrapperPadding20-10-0-8">
                    <p>Visible on shop.</p>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Description">
            <div class="WrapperPadding20-8-0-8">
                <mat-form-field>
                    <textarea matInput placeholder="A clear description of your product. You can put as much information in here as you'd like." [formControl]="controlDescription" rows="10" [ngClass]="{ 'is-invalid': formSubmitted && controlDescription.errors }"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Categories">
            <mat-tree [dataSource]="dataSourceCategories" [treeControl]="treeControl" class="tree">
                <mat-tree-node *matTreeNodeDef="let category">
                    <mat-checkbox [id]="'category' + category.Id" color="primary" [checked]="this.categoryIds.includes(category.Id)" (change)="checkCategory(category, $event)">{{category.Name}}</mat-checkbox>
                </mat-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let category; when: hasChild">
                    <div class="mat-tree-node">
                        <mat-checkbox [id]="'category' + category.Id" color="primary" [checked]="this.categoryIds.includes(category.Id)" (change)="checkCategory(category, $event)">{{category.Name}}</mat-checkbox>
                    </div>
                    <div role="group">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
        </mat-tab>
    </mat-tab-group>
    <mat-divider class="ClearLeft" />
    <div class="CenteredFormButtons">
        <button mat-raised-button [disabled]="formLoading" type="button" [routerLink]="['/control-panel/catalog/products']">Cancel</button>
        <button mat-raised-button [disabled]="formLoading" type="submit" color="primary">
            <mat-icon *ngIf="formLoading">
                <mat-spinner diameter="18" />
            </mat-icon>
            Save
        </button>
    </div>
</form>