<div class="WrapperPadding20-8-0-8">
    <div class="FloatRight">
        <button mat-raised-button color="primary" [routerLink]="['/control-panel/catalog/products/new/' + this.controlFilterShop.value]" [disabled]="!this.shops?.length">
            <mat-icon>add</mat-icon>
            Create new product
        </button>
    </div>
    <h2>Products</h2>
</div>
<div class="WrapperPadding20-8-0-8" *ngIf="this.finishedLoading && !this.shops?.length">
    <span class="WarningBlock">You must <a [routerLink]="['/control-panel/configuration/shops/new']">create a shop</a> first before you can manage products.</span>
</div>
<div class="WrapperPadding20-8-0-8">
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Shop</mat-label>
        <mat-select [formControl]="controlFilterShop" (selectionChange)="this.filterProducts()">
            <mat-option *ngFor="let shop of this.shops" [value]="shop.Id">{{shop.Name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="WrapperPadding20-8-0-8">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>filter_list</mat-icon>
                    <span class="Text">Filters</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10-0-0">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Code</mat-label>
                        <input matInput [formControl]="controlFilterCode" />
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="controlFilterName" />
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct" style="display:none;">
                <div class="WrapperPadding0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Category</mat-label>
                        <mat-select [formControl]="controlFilterCategory">
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Visible</mat-label>
                        <mat-select [formControl]="controlFilterVisible">
                            <mat-option></mat-option>
                            <mat-option value="true">Yes</mat-option>
                            <mat-option value="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct">
                <div class="WrapperPadding0-0-0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Show on home page</mat-label>
                        <mat-select [formControl]="controlFilterShowOnHome">
                            <mat-option></mat-option>
                            <mat-option value="true">Yes</mat-option>
                            <mat-option value="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="WrapperPadding20-8">
    <table mat-table matSort [dataSource]="this.dataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="Photo">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <a href="{{environment.API_URL}}/Resources/{{this.activeMerchant?.Id}}/ProductPhoto/{{element.MainPhotoId}}.{{element.MainPhotoExtension}}" data-lightbox="productPhoto" title="{{element.Name}}">
                    <img *ngIf="element.MainPhotoId" src="{{environment.API_URL}}/Resources/{{this.activeMerchant?.Id}}/ProductPhoto/{{element.MainPhotoId}}_thumbnail_100x100.{{element.MainPhotoExtension}}" width="100" height="100" alt="{{element.Name}}" />
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="Code">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{ 'TextDecorationLineThrough': !element.Visible }">{{element.Code}}</td>
        </ng-container>

        <ng-container matColumnDef="Name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{ 'TextDecorationLineThrough': !element.Visible }">{{element.Name}}</td>
        </ng-container>

        <ng-container matColumnDef="Stock">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Stock</th>
            <td mat-cell *matCellDef="let element">{{element.Stock}}</td>
        </ng-container>

        <ng-container matColumnDef="Price">
            <th mat-header-cell mat-sort-header *matHeaderCellDef class="TextAlignRight">Price</th>
            <td mat-cell *matCellDef="let element" class="TextAlignRight">
                <span>Ɗ&nbsp;{{element.Price | number:'1.2-8'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="ActionButtons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon color="primary">more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item color="primary" (click)="editPhotos(element)">
                        <mat-icon color="primary">photo</mat-icon> <span>Manage photos</span>
                    </button>
                    <button mat-menu-item color="primary" (click)="editElement(element)">
                        <mat-icon color="primary">edit</mat-icon> <span>Edit</span>
                    </button>
                    <button mat-menu-item color="warn" (click)="deleteElement(element)">
                        <mat-icon color="warn">delete</mat-icon> <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumns;" (dblclick)="editElement(row)"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell NoDataCell" [colSpan]="this.displayedColumns.length">
                <span *ngIf="this.controlFilterName.value || this.controlFilterCategory.value || this.controlFilterVisible.value || this.controlFilterShowOnHome.value">{{constants.MESSAGE_NO_RECORDS_FOUND}}</span>
                <span *ngIf="!this.controlFilterName.value && !this.controlFilterCategory.value && !this.controlFilterVisible.value && !this.controlFilterShowOnHome.value">You have not yet created a product.</span>
            </td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons />
</div>