<div class="WrapperPadding20-8-0-8">
    <h2><a [routerLink]="['/control-panel/configuration/shops']">Shops</a> - {{this.pageTitle}}</h2>
</div>
<form (ngSubmit)="onSubmit()">
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [formControl]="controlName" maxlength="255" [ngClass]="{ 'is-invalid': formSubmitted && controlName.errors }" />
                <div *ngIf="formSubmitted && controlName.errors" class="TextError">
                    <div *ngIf="controlName.errors['required']">Name is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>The name of your shop and it's main point of recognition. Choose a short, unique and easy to remember name for your customers.</p>
        </div>
    </div>
    <mat-divider class="ClearLeft" />
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-icon *ngIf="controlSubDomain.value && !controlSubDomain.errors" [ngClass]="{
                            'SubDomainAvailabilityIcon':true, 
                            'SubDomainAvailabilityIconColorGreen':this.subDomainAvailable, 
                            'SubDomainAvailabilityIconColorRed':!this.subDomainAvailable
                        }" [matTooltip]="this.subDomainAvailable ? 'Subdomain is available' : 'Subdomain is unavailable'">{{this.subDomainAvailable
                    ? 'check_circle' : 'cancel'}}</mat-icon>
                <mat-label>Subdomain ( https://subdomain.{{environment.WEBSITE_DOMAIN}})</mat-label>
                <input matInput [formControl]="controlSubDomain" maxlength="100" [ngClass]="{ 'is-invalid': controlSubDomain.errors }" />
                <div *ngIf="formSubmitted && controlSubDomain.errors" class="TextError">
                    <div *ngIf="controlSubDomain.errors['pattern']">Only alphanumerical characters are allowed</div>
                    <div *ngIf="controlSubDomain.errors['minlength']">SubDomain needs to be at least 3 characters long
                    </div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>The subdomain your shop will be accessible from and which will evaluate to <strong>https://<span class="TextDecorationUnderline">subdomain</span>.{{environment.WEBSITE_DOMAIN}}</strong>. If left empty, the ID of your shop will be used to format the address to your shop which is quite long and cryptic. Choose a short and easy to remember subdomain to make it easier for your customers to find your shop. A subdomain can only consist of alphanumeric characters.</p>
        </div>
    </div>
    <mat-divider class="ClearLeft" />
    <div class="CenteredFormButtons">
        <button mat-raised-button [disabled]="formLoading" type="button" [routerLink]="['/control-panel/configuration/shops']">Cancel</button>
        <button mat-raised-button [disabled]="formLoading" type="submit" color="primary">
            <mat-icon *ngIf="formLoading">
                <mat-spinner diameter="18" />
            </mat-icon>
            Save
        </button>
    </div>
</form>