<div class="WrapperPadding20-20-20-8">
    <h2>Node status</h2>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-10-0-8">
        <h3>Block count</h3>
        x
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-10-0-10">
        <h3>Mining difficulty</h3>
        <div>
            x
        </div>
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-10-0-10">
        <h3>Hash rate</h3>
        x
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-8-0-10">
        <h3>IP address</h3>
        <div *ngFor="let ipAddress of this.nodeIpAddresses">{{ipAddress}}</div>
    </div>
</div>
<div class="ClearLeft"></div>