<div class="ColumnOneHalf">
    <div class="WrapperPadding20-10-0-8">
        <h2>Dashboard</h2>
        <p>Hi {{this.activeMerchant?.Salutation}}
            <span *ngIf="this.activeMerchant?.SecondLastLogin" class="DisplayBlock">Your last login was
                {{this.activeMerchant?.SecondLastLogin | date:constants.DATE_TIME_FORMAT}} from IP address
                {{this.activeMerchant?.SecondLastIpAddress}}.
            </span>
        </p>
    </div>
</div>
<div class="ColumnOneHalf">
    <div class="WrapperPadding20-8-0-10">
        <h3>Newest customers</h3>
        table
    </div>
</div>
<div class="ColumnOneHalf ClearLeft">
    <div class="WrapperPadding20-8-0-8">
        <h3>Sales</h3>
        CHART
    </div>
</div>
<div class="ColumnOneHalf">
    <div class="WrapperPadding20-10-0-8">
        <h3>Most popular products</h3>
        TABLE
    </div>
</div>

<div class="ClearLeft"></div>