<div class="WrapperPadding20-8-0-8">
    <h2>About DGB Commerce</h2>
</div>
<div class="ColumnThreeFourth">
    <div class="WrapperPadding20-20-0-8">
        <p>DGB Commerce is an initiative by <a href="https://www.linkedin.com/in/leroygerrits/" target="_blank">Leroy Gerrits</a>, a full-stack web developer and former business owner from the Netherlands with many years of experience building e-commerce solutions and <abbr title="Software As A Service">SAAS</abbr> platforms. Being disappointed by the scarcity of utility and real life use cases for <a href="https://www.digibyte.io" target="_blank">DigiByte</a> he decided to put two and two together and create DGB Commerce.</p>
        <p>While there are existing means for merchants to offer their products and get paid with DigiByte, most of them exist in the form of plugins/add-ons/components for third-party software, charge hefty fees, are tucked away between a myriad of other payment methods and steps in a checkout proces, are cumbersome to use and/or require at least some technical know-how to implement. With DGB Commerce, those thresholds are gone and merchants can fully focus on their products and sales once more.</p>
        <p>Our mission is not only to supply merchants a toolbox to easily create a web shop to sell goods and services, but also to raise awareness about DigiByte, its transaction speed and suitability as a peer to peer payment method.</p>
    </div>
</div>
<div class="ColumnOneFourth MarginTop20">
    <div class="WrapperPadding20-8-0-20">
        <img class="PublicWebsiteImageStretch" src="/assets/images/About Leroy.png" width="400" height="400" alt="Leroy Gerrits" />
    </div>
</div>
<div class="ClearLeft"></div>