<div class="WrapperPadding20-8-0-8">
    <div class="FloatRight">
        <button mat-raised-button color="primary" [routerLink]="['/control-panel/configuration/fields/new']" [disabled]="!this.shops?.length">
            <mat-icon>add</mat-icon>
            Create new field
        </button>
    </div>
    <h2>Fields</h2>
</div>
<div class="WrapperPadding20-8-0-8" *ngIf="this.finishedLoading && !this.shops?.length">
    <span class="WarningBlock">You must <a [routerLink]="['/control-panel/configuration/shops/new']">create a shop</a> first before you can manage delivery methods.</span>
</div>
<div class="WrapperPadding20-8-0-8">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>filter_list</mat-icon>
                    <span class="Text">Filters</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10-0-0">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Name</mat-label>
                        <input matInput [formControl]="controlFilterName" />
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Shop</mat-label>
                        <mat-select [formControl]="controlFilterShop">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let shop of this.shops" [value]="shop.Id">{{shop.Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="WrapperPadding20-8">
    <mat-table matSort [dataSource]="this.dataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="Name">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Shop">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Shop</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Shop.Name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Entity">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Entity</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Entity}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Type">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Type}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="DataType">
            <mat-header-cell mat-sort-header *matHeaderCellDef>Data type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.DataType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ActionButtons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon color="primary">more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item color="primary" (click)="editElement(element)">
                        <mat-icon color="primary">edit</mat-icon> <span>Edit</span>
                    </button>
                    <button mat-menu-item color="warn" (click)="deleteElement(element)">
                        <mat-icon color="warn">delete</mat-icon> <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="this.displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: this.displayedColumns;" (dblclick)="editElement(row)"></mat-row>
        <mat-row *matNoDataRow>
            <td class="mat-cell NoDataCell" [colSpan]="this.displayedColumns.length">
                <span *ngIf="this.controlFilterName.value || this.controlFilterShop.value">{{constants.MESSAGE_NO_RECORDS_FOUND}}</span>
                <span *ngIf="!this.controlFilterName.value && !this.controlFilterShop.value">You have not yet created a field.</span>
            </td>
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons />
</div>