<div id="TopBar">
  <div class="CenteredContainer">
    <div class="RightMenu">
      <mat-toolbar>
        <button *ngIf="!this.activeMerchant" mat-button (click)="signUp()">
          <mat-icon>account_box</mat-icon>
          Sign up
        </button>
        <button *ngIf="!this.activeMerchant" mat-button (click)="login()">
          <mat-icon>login</mat-icon>
          Merchant login
        </button>

        <button *ngIf="this.activeMerchant" mat-button [matMenuTriggerFor]="Merchant">
          <mat-icon>account_box</mat-icon>
          {{this.activeMerchant.Username}}
        </button>

        <mat-menu #Merchant="matMenu">
          <button mat-menu-item [routerLink]="['/account/settings']">Settings</button>
          <button mat-menu-item [routerLink]="['/account/change-password']">Change password</button>
          <button mat-menu-item (click)="this.logout()">Log out</button>
        </mat-menu>
      </mat-toolbar>
    </div>

    <mat-toolbar *ngIf="this.activeMerchant">
      <button mat-button [matMenuTriggerFor]="ControlPanel" class="ToolbarItemCollapsible">
        <mat-icon>menu</mat-icon>
        Control panel
      </button>
      <button mat-button class="ToolbarItemNonCollapsible" [routerLink]="['/']">
        <mat-icon>arrow_circle_left</mat-icon> Website
      </button>
      <button mat-button class="ToolbarItemNonCollapsible" [routerLink]="['/control-panel']">
        <mat-icon>dashboard</mat-icon> Dashboard
      </button>
      <button mat-button class="ToolbarItemNonCollapsible" [matMenuTriggerFor]="ControlPanelConfiguration">
        <mat-icon>settings</mat-icon> Configuration
      </button>
      <button mat-button class="ToolbarItemNonCollapsible" [matMenuTriggerFor]="ControlPanelCatalog">
        <mat-icon>inventory</mat-icon> Catalog
      </button>
      <button mat-button class="ToolbarItemNonCollapsible" [routerLink]="['/control-panel/customers']">
        <mat-icon>person</mat-icon> Customers
      </button>
      <button mat-button class="ToolbarItemNonCollapsible" [matMenuTriggerFor]="ControlPanelSales">
        <mat-icon>attach_money</mat-icon> Sales
      </button>

      <mat-menu #ControlPanel="matMenu">
        <button mat-menu-item [routerLink]="['/']">
          <mat-icon>arrow_circle_left</mat-icon> Back to website
        </button>
        <button mat-menu-item [routerLink]="['/control-panel']">
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
        <button mat-menu-item [matMenuTriggerFor]="ControlPanelConfiguration">
          <mat-icon>settings</mat-icon> Configuration
        </button>
        <button mat-menu-item [matMenuTriggerFor]="ControlPanelCatalog">
          <mat-icon>inventory</mat-icon> Catalog
        </button>
        <button mat-menu-item [routerLink]="['/control-panel/customers']">
          <mat-icon>person</mat-icon> Customers
        </button>
        <button mat-menu-item [matMenuTriggerFor]="ControlPanelSales">
          <mat-icon>attach_money</mat-icon> Sales
        </button>
      </mat-menu>

      <mat-menu #ControlPanelConfiguration="matMenu">
        <button mat-menu-item [routerLink]="['/control-panel/configuration/crypto-wallets']">Crypto wallets</button>
        <button mat-menu-item [routerLink]="['/control-panel/configuration/delivery-methods']">Delivery methods</button>        
        <button mat-menu-item [routerLink]="['/control-panel/configuration/fields']">Fields</button>
        <button mat-menu-item [routerLink]="['/control-panel/configuration/pages']">Pages</button>
        <button mat-menu-item [routerLink]="['/control-panel/configuration/shops']">Shops</button>
      </mat-menu>

      <mat-menu #ControlPanelCatalog="matMenu">
        <button mat-menu-item [routerLink]="['/control-panel/catalog/categories']">Categories</button>
        <button mat-menu-item [routerLink]="['/control-panel/catalog/products']">Products</button>
      </mat-menu>

      <mat-menu #ControlPanelSales="matMenu">
        <button mat-menu-item [routerLink]="['/control-panel/sales/orders']">Orders</button>
        <button mat-menu-item [routerLink]="['/control-panel/sales/transactions']">Transactions</button>
      </mat-menu>
    </mat-toolbar>
    <div class="ClearRight"></div>
  </div>
</div>
<router-outlet></router-outlet>
<div id="BottomBar">
  <div class="CenteredContainer">
    <div class="WrapperPadding20-8">
      <ul>
        <li class="X"><a href="https://www.x.com/YourCryptoShop" target="_blank" title="X"><span>X</span></a></li>
        <li class="Facebook"><a href="https://www.facebook.com/yourcryptoshop" target="_blank" title="Facebook"><span>Facebook</span></a></li>
        <li class="LinkedIn"><a href="https://www.linkedin.com/company/yourcryptoshop" target="_blank" title="LinkedIn"><span>LinkedIn</span></a></li>
        <li class="GitHub"><a href="https://github.com/LeroyGerrits" target="_blank" title="GitHub"><span>GitHub</span></a></li>
      </ul>
      <span class="Copyright">&copy; Your Crypto Shop {{this.currentYear}} | <a [routerLink]="['financial-statement']">Financial statement</a> | <a [routerLink]="['node-status']">Node status</a></span>
      <div class="ClearRight"></div>
    </div>
  </div>
</div>