<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/']">Home</button>
  <button mat-button *ngIf="this.isMerchant" [matMenuTriggerFor]="ControlPanel">Control Panel</button>
  <mat-menu #ControlPanel="matMenu">
    <button mat-menu-item [routerLink]="['/control-panel/categories']">Categories</button>
    <button mat-menu-item [routerLink]="['/control-panel/products']">Products</button>
    <button mat-menu-item [routerLink]="['/control-panel/delivery-methods']">Delivery methods</button>
  </mat-menu>
</mat-toolbar>

<p>TEMPLATE START</p>

<router-outlet></router-outlet>

<p>TEMPLATE END</p>