<h2 mat-dialog-title>Sign up</h2>
<form (ngSubmit)="onSubmit()">
  <mat-dialog-content class="mat-typography">
    <p>Set up shop in just a few minutes!<br />All we need is some basic information to get you going.</p>
    
    <mat-form-field>
      <mat-label>Your e-mail address</mat-label>
      <input matInput [formControl]="controlEmailAddress"
        [ngClass]="{ 'is-invalid': submitted && controlEmailAddress.errors }" />
      <div *ngIf="submitted && controlEmailAddress.errors" class="TextError">
        <div *ngIf="controlEmailAddress.errors['required']">E-mail address is required</div>
      </div>
    </mat-form-field>

    <label id="gender">I am a</label>
    <mat-radio-group aria-labelledby="gender" [formControl]="controlGender">
      <mat-radio-button value="1" color="primary">Male</mat-radio-button>
      <mat-radio-button value="2" color="primary">Female</mat-radio-button>
      <mat-radio-button value="0" color="primary">I don't want to specify</mat-radio-button>
    </mat-radio-group>

    <mat-form-field>
      <mat-label>Your first name</mat-label>
      <input matInput [formControl]="controlFirstName"
        [ngClass]="{ 'is-invalid': submitted && controlFirstName.errors }" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Your last name</mat-label>
      <input matInput  [formControl]="controlLastName"
        [ngClass]="{ 'is-invalid': submitted && controlLastName.errors }" />
      <div *ngIf="submitted && controlLastName.errors" class="TextError">
        <div *ngIf="controlLastName.errors['required']">Last name is required</div>
      </div>
    </mat-form-field>
    <div *ngIf="error" class="TextError">{{error}}</div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="disabled" mat-dialog-close>Cancel</button>
    <button mat-raised-button type="submit" color="primary" [disabled]="loading">
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="18" />
      </mat-icon>
      Sign up
    </button>
  </mat-dialog-actions>
</form>