<div class="WrapperPadding20-8-0-8">
    <h2><a [routerLink]="['/control-panel/configuration/delivery-methods']">Delivery methods</a> - {{this.pageTitle}}</h2>
</div>
<form (ngSubmit)="onSubmit()">
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [formControl]="controlName" maxlength="255" [ngClass]="{ 'is-invalid': formSubmitted && controlName.errors }" />
                <div *ngIf="formSubmitted && controlName.errors" class="TextError">
                    <div *ngIf="controlName.errors['required']">Name is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>The name of your delivery method. Choose a descriptive name so your customers will now what any additional charges are for.</p>
        </div>
    </div>
    <mat-divider class="ClearLeft" />
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Shop</mat-label>
                <mat-select [formControl]="controlShop" [ngClass]="{ 'is-invalid': controlShop.errors }">
                    <mat-option *ngFor="let shop of this.shops" [value]="shop.Id">{{shop.Name}}</mat-option>
                </mat-select>
                <div *ngIf="formSubmitted && controlShop.errors" class="TextError">
                    <div *ngIf="controlShop.errors['required']">Shop is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>The shop this delivery method is applicable to.</p>
        </div>
    </div>
    <mat-divider class="ClearLeft" />
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Costs</mat-label>
                <input matInput [formControl]="controlCosts" maxlength="20" placeholder="Example: 250.45" [ngClass]="{ 'is-invalid': formSubmitted && controlCosts.errors }" />
                <div *ngIf="formSubmitted && controlCosts.errors" class="TextError">
                    <div *ngIf="controlCosts.errors['pattern']">Costs can only be numerical</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>Any costs in flat DigiByte that will be charged to the customer upon checkout when this delivery method gets chosen.</p>
        </div>
    </div>
    <mat-divider class="ClearLeft" />

    <div class="CenteredFormButtons">
        <button mat-raised-button [disabled]="formLoading" type="button" [routerLink]="['/control-panel/configuration/delivery-methods']">Cancel</button>
        <button mat-raised-button [disabled]="formLoading" type="submit" color="primary">
            <mat-icon *ngIf="formLoading">
                <mat-spinner diameter="18" />
            </mat-icon>
            Save
        </button>
    </div>

</form>