<div class="WrapperPadding20-8-0-8">
    <div class="FloatRight">
        <button mat-raised-button color="primary" [routerLink]="['/control-panel/configuration/delivery-methods/new']">
            <mat-icon>add</mat-icon>
            Create new delivery method
        </button>
    </div>
    <h2>Delivery methods</h2>
</div>

<div class="ColumnOneFourth">
    <div class="WrapperPadding20-20-0-8">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [formControl]="controlFilterName" />
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-20-0-20">
        <mat-form-field>
            <mat-label>Shop</mat-label>
            <mat-select [formControl]="controlFilterShop" />
        </mat-form-field>
    </div>
</div>

<div class="WrapperPadding20-8 ClearLeft">
    <table mat-table matSort [dataSource]="this.dataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="Name">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.Name}}</td>
        </ng-container>

        <ng-container matColumnDef="Shop">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Shop</th>
            <td mat-cell *matCellDef="let element">{{element.Shop.Name}}</td>
        </ng-container>

        <ng-container matColumnDef="ActionButtons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="editElement(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteElement(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell NoDataCell" [colSpan]="this.displayedColumns.length">
                <span
                    *ngIf="this.controlFilterName.value || this.controlFilterShop.value">{{constants.MESSAGE_NO_RECORDS_FOUND}}</span>
                <span *ngIf="!this.controlFilterName.value && !this.controlFilterShop.value">You have not yet created a
                    delivery method.
                </span>
            </td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons />
</div>