<form (ngSubmit)="onSubmit()">
    <div class="WrapperPadding20-8">
        <div class="FloatRight FormButtons">
            <button mat-raised-button [disabled]="formLoading" type="button" [routerLink]="['/control-panel/configuration/delivery-methods']">Cancel</button>
            <button mat-raised-button [disabled]="formLoading" type="submit" color="accent">
                <mat-icon *ngIf="formLoading">
                    <mat-spinner diameter="18" />
                </mat-icon>
                Save
            </button>
        </div>
        <h2><a [routerLink]="['/control-panel/configuration/delivery-methods']">Delivery methods</a> - {{this.pageTitle}}</h2>
    </div>
    <div class="ClearRight">
        <mat-tab-group animationDuration="0">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon color="warn" class="TabWarnIcon" *ngIf="this.formSubmitted && (controlName.errors || controlShop.errors || controlCosts.errors)">error_outline</mat-icon>
                    Delivery method
                </ng-template>
                <div class="ColumnOneHalf">
                    <div class="WrapperPadding20-10-0-8">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput [formControl]="controlName" maxlength="255" [ngClass]="{ 'is-invalid': formSubmitted && controlName.errors }" />
                            <div *ngIf="formSubmitted && controlName.errors" class="TextError">
                                <div *ngIf="controlName.errors['required']">Name is required</div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="ColumnOneHalf">
                    <div class="WrapperPadding20-10-0-8">
                        <p>The name of your delivery method. Choose a descriptive name so your customers will now what any additional charges are for.</p>
                    </div>
                </div>
                <mat-divider class="ClearLeft" />
                <div class="ColumnOneHalf">
                    <div class="WrapperPadding20-10-0-8">
                        <mat-form-field>
                            <mat-label>Shop</mat-label>
                            <mat-select [formControl]="controlShop" [ngClass]="{ 'is-invalid': controlShop.errors }">
                                <mat-option *ngFor="let shop of this.shops" [value]="shop.Id">{{shop.Name}}</mat-option>
                            </mat-select>
                            <div *ngIf="formSubmitted && controlShop.errors" class="TextError">
                                <div *ngIf="controlShop.errors['required']">Shop is required</div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="ColumnOneHalf">
                    <div class="WrapperPadding20-10-0-8">
                        <p>The shop this delivery method is applicable to.</p>
                    </div>
                </div>
                <mat-divider class="ClearLeft" />
                <div class="ColumnOneHalf">
                    <div class="WrapperPadding20-10-0-8">
                        <mat-form-field>
                            <mat-label>Default costs</mat-label>
                            <input matInput [formControl]="controlCosts" maxlength="20" placeholder="Example: 250.45" [ngClass]="{ 'is-invalid': formSubmitted && controlCosts.errors }" />
                            <div *ngIf="formSubmitted && controlCosts.errors" class="TextError">
                                <div *ngIf="controlCosts.errors['pattern']">Costs can only be a numerical value with up to 2 decimals.</div>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="ColumnOneHalf">
                    <div class="WrapperPadding20-10-0-8">
                        <p>Any costs in flat crypto that will be charged to the customer upon checkout when this delivery method gets chosen. Use the "Costs per country" tab to specify any deviating costs based on the customer's country.</p>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon color="warn" class="TabWarnIcon" *ngIf="this.formSubmitted && this.formErrorCostsPerCountry">error_outline</mat-icon>
                    Costs per country
                </ng-template>
                <ng-container *ngFor="let country of this.countries">
                    <div class="ColumnOneHalf">
                        <div class="WrapperPadding20-10-0-8">
                            <mat-form-field>
                                <mat-label>Costs for {{country.Name}}</mat-label>
                                <input matInput [formControl]="this.controlsCostsPerCountry[country.Id]" maxlength="20" placeholder="Example: 250.45" [ngClass]="{ 'is-invalid': formSubmitted && this.controlsCostsPerCountry[country.Id].errors }" />
                                <div *ngIf="formSubmitted && this.controlsCostsPerCountry[country.Id].errors" class="TextError">
                                    <div *ngIf="this.controlsCostsPerCountry[country.Id].errors!['pattern']">Costs can only be a numerical value with up to 2 decimals.</div>
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="ColumnOneHalf">
                        <div class="WrapperPadding20-10-0-8">
                            <p><img src="/assets/images/flags/{{country.Code.toLowerCase()}}.png" width="24" height="24" alt="{{country.Code}}" /> {{country.Name}}</p>
                        </div>
                    </div>
                    <mat-divider class="ClearLeft" />
                </ng-container>
            </mat-tab>
        </mat-tab-group>
    </div>
</form>