<div class="WrapperPadding20-8-0-8">
    <h2><a [routerLink]="['/control-panel/configuration/crypto-wallets']">Crypto wallets</a> - {{this.pageTitle}} </h2>
</div>
<form (ngSubmit)="onSubmit()">
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [formControl]="controlName" maxlength="255" [ngClass]="{ 'is-invalid': formSubmitted && controlName.errors }" />
                <div *ngIf="formSubmitted && controlName.errors" class="TextError">
                    <div *ngIf="controlName.errors['required']">Name is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>The name of your crypto wallet.</p>
        </div>
    </div>
    <mat-divider class="ClearLeft" />
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput [formControl]="controlAddress" maxlength="255" [ngClass]="{ 'is-invalid': formSubmitted && controlAddress.errors }" />
                <div *ngIf="formSubmitted && controlAddress.errors" class="TextError">
                    <div *ngIf="controlAddress.errors['required']">Address is required</div>
                </div>
            </mat-form-field>
        </div>
    </div>
    <div class="ColumnOneHalf">
        <div class="WrapperPadding20-10-0-8">
            <p>The address of your crypto wallet.</p>
        </div>
    </div>
    <mat-divider class="ClearLeft" />
    <div class="CenteredFormButtons">
        <button mat-raised-button [disabled]="formLoading" type="button" [routerLink]="['/control-panel/configuration/crypto-wallets']">Cancel</button>
        <button mat-raised-button [disabled]="formLoading" type="submit" color="primary">
            <mat-icon *ngIf="formLoading">
                <mat-spinner diameter="18" />
            </mat-icon>
            Save
        </button>
    </div>
</form>