<div class="ColumnOneHalf">
    <div class="WrapperPadding20-10-0-8">
        <h2>Financial Statement</h2>
        <p>We value transparency. All of our expenses, withdrawals and donations will be documented in this financial statement. DGB Commerce makes use of 2 public DigiByte wallets: a general wallet which is used for withdrawals (to cover expenses) and receiving donations, and a transactions wallet which is used for all automated payments that happen when consumers buy products and goods from merchants using our platform.</p>
        <p>On regular intervals, DGB Commerce will transfer DigiByte from the transaction wallet to the general wallet to cover expenses. In the event of such a transfer or upon receiving a donation of 1000 DigiByte or higher, a <span class="Type TypeDebit">Debit</span> entry will be added to this financial statement. All other purchases and expenses, including the ones that were paid with fiat, are <span class="Type TypeCredit">Credit</span> entries.</p>
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-10-0-10 TextAlignCenter">
        <h3>Our general wallet</h3>
        <div>
            <qrcode [qrdata]="constants.DIGIBYTE_WALLET_ADDRESS_GENERAL" [width]="constants.QR_CODE_SIZE"
                [errorCorrectionLevel]="'M'" [colorLight]="constants.QR_CODE_COLOR_LIGHT" [colorDark]="constants.QR_CODE_COLOR_DARK" [imageSrc]="constants.QR_CODE_LOGO"
                [imageHeight]="constants.QR_CODE_LOGO_SIZE" [imageWidth]="constants.QR_CODE_LOGO_SIZE" />
        </div>
        <span class="FontSize0x8Em WordWrapBreakWord"><a
                href="digibyte:{{constants.DIGIBYTE_WALLET_ADDRESS_GENERAL}}">{{constants.DIGIBYTE_WALLET_ADDRESS_GENERAL}}</a></span>
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-8-0-10 TextAlignCenter">
        <h3>Our transactions wallet</h3>
        <div>
            <qrcode [qrdata]="constants.DIGIBYTE_WALLET_ADDRESS_TRANSACTIONS" [width]="constants.QR_CODE_SIZE"
                [errorCorrectionLevel]="'M'" [colorLight]="constants.QR_CODE_COLOR_LIGHT" [colorDark]="constants.QR_CODE_COLOR_DARK" [imageSrc]="constants.QR_CODE_LOGO"
                [imageHeight]="constants.QR_CODE_LOGO_SIZE" [imageWidth]="constants.QR_CODE_LOGO_SIZE" />
        </div>
        <span class="FontSize0x8Em WordWrapBreakWord"><a
                href="digibyte:{{constants.DIGIBYTE_WALLET_ADDRESS_TRANSACTIONS}}">{{constants.DIGIBYTE_WALLET_ADDRESS_TRANSACTIONS}}</a></span>
    </div>
</div>
<div class="ColumnOneSixth ClearLeft">
    <div class="WrapperPadding20-10-0-8">
        <mat-form-field>
            <mat-label>Date from</mat-label>
            <input matInput [formControl]="controlFilterDateFrom" [matDatepicker]="pickerDateFrom"
                (change)="onFilter()" />
            <mat-datepicker-toggle matIconSuffix [for]="pickerDateFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateFrom></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneSixth">
    <div class="WrapperPadding20-10-0-10">
        <mat-form-field>
            <mat-label>Date until</mat-label>
            <input matInput [formControl]="controlFilterDateUntil" [matDatepicker]="pickerDateUntil"
                (change)="onFilter()" />
            <mat-datepicker-toggle matIconSuffix [for]="pickerDateUntil"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateUntil></mat-datepicker>
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneSixth">
    <div class="WrapperPadding20-10-0-10">
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput [formControl]="controlFilterDescription" (change)="onFilter()" />
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneSixth">
    <div class="WrapperPadding20-10-0-10">
        <mat-form-field>
            <mat-label>Recurrance</mat-label>
            <mat-select [formControl]="controlFilterRecurrance" (selectionChange)="onFilter()">
                <mat-option />
                <mat-option *ngFor="let type of recurrances | keyvalue;" [value]="type.key">
                    {{type.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneSixth">
    <div class="WrapperPadding20-10-0-10">
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [formControl]="controlFilterType" (selectionChange)="onFilter()">
                <mat-option />
                <mat-option *ngFor="let type of financialStatementTransactionTypes | keyvalue;" [value]="type.key">
                    {{type.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneSixth">
    <div class="WrapperPadding20-8-0-10">
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select [formControl]="controlFilterCurrency" (selectionChange)="onFilter()">
                <mat-option />
                <mat-option *ngFor="let currency of this.currencies" [value]="currency.Id">
                    {{currency.Name}} ({{currency.Symbol}})
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="WrapperPadding20-8 ClearLeft">
    <table mat-table matSort [dataSource]="this.dataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="Date">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.Date | date:'dd-MM-yyyy'}}</td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{element.Description}}</td>
        </ng-container>

        <ng-container matColumnDef="Recurrance">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Recurrance</th>
            <td mat-cell *matCellDef="let element">{{element.Recurrance}}</td>
        </ng-container>

        <ng-container matColumnDef="Type">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element"><span
                    [ngClass]="['Type', element.Type == 'Credit' ? 'TypeCredit' : 'TypeDebit']">{{element.Type}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="Currency">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Currency</th>
            <td mat-cell *matCellDef="let element">{{element.Currency.Name}}</td>
        </ng-container>

        <ng-container matColumnDef="Amount">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element" class="TextAlignRight">
                {{element.Currency.Symbol}}&nbsp;{{element.Amount | number:'1.2'}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons />
</div>