<div class="WrapperPadding20-8-0-8">
    <div class="FloatRight">
        <button mat-raised-button color="primary" [routerLink]="['/control-panel/configuration/pages/new']" [disabled]="!this.shops?.length">
            <mat-icon>add</mat-icon>
            Create new page
        </button>
    </div>
    <h2>Pages</h2>
</div>
<div class="WrapperPadding20-8-0-8" *ngIf="this.finishedLoading && !this.shops?.length">
    <span class="WarningBlock">You must <a [routerLink]="['/control-panel/configuration/shops/new']">create a shop</a> first before you can manage pages.</span>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-10-0-8">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [formControl]="controlFilterTitle" />
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-10-0-10">
        <mat-form-field>
            <mat-label>Shop</mat-label>
            <mat-select [formControl]="controlFilterShop">
                <mat-option></mat-option>
                <mat-option *ngFor="let shop of this.shops" [value]="shop.Id">{{shop.Name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="ColumnOneFourth">
    <div class="WrapperPadding20-10-0-10">
        <mat-form-field>
            <mat-label>Visible</mat-label>
            <mat-select [formControl]="controlFilterVisible">
                <mat-option></mat-option>
                <mat-option value="true">Yes</mat-option>
                <mat-option value="false">No</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="WrapperPadding20-8 ClearLeft">
    <table mat-table matSort [dataSource]="this.dataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="Title">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element" [ngClass]="{ 'TextDecorationLineThrough': !element.Visible }">{{element.Title}}</td>
        </ng-container>

        <ng-container matColumnDef="Shop">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Shop</th>
            <td mat-cell *matCellDef="let element">{{element.Shop.Name}}</td>
        </ng-container>

        <ng-container matColumnDef="ActionButtons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon color="primary">more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item color="primary" (click)="editElement(element)">
                        <mat-icon color="primary">edit</mat-icon> <span>Edit</span>
                    </button>
                    <button mat-menu-item color="warn" (click)="deleteElement(element)">
                        <mat-icon color="warn">delete</mat-icon> <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumns;" (dblclick)="editElement(row)"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell NoDataCell" [colSpan]="this.displayedColumns.length">
                <span *ngIf="this.controlFilterTitle.value || this.controlFilterShop.value">{{constants.MESSAGE_NO_RECORDS_FOUND}}</span>
                <span *ngIf="!this.controlFilterTitle.value && !this.controlFilterShop.value">You have not yet created a page.</span>
            </td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons />
</div>