<div class="WrapperPadding20-8-0-8">
    <div class="FloatRight">
        <button mat-raised-button color="primary" [routerLink]="['/control-panel/customers/new/' + this.controlFilterShop.value]" [disabled]="!this.shops?.length">
            <mat-icon>add</mat-icon>
            Create new customer
        </button>
    </div>
    <h2>Customers</h2>
</div>
<div class="WrapperPadding20-8-0-8" *ngIf="this.finishedLoading && !this.shops?.length">
    <span class="WarningBlock">You must <a [routerLink]="['/control-panel/configuration/shops/new']">create a shop</a> first before you can manage customers.</span>
</div>
<div class="WrapperPadding20-8-0-8">
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Shop</mat-label>
        <mat-select [formControl]="controlFilterShop" (selectionChange)="this.filterCustomers()">
            <mat-option *ngFor="let shop of this.shops" [value]="shop.Id">{{shop.Name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="WrapperPadding20-8-0-8">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>filter_list</mat-icon>
                    <span class="Text">Filters</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10-0-0">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Username</mat-label>
                        <input matInput [formControl]="controlFilterUsername" />
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>E-mail address</mat-label>
                        <input matInput [formControl]="controlFilterEmailAddress" />
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct">
                <div class="WrapperPadding0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>First name</mat-label>
                        <input matInput [formControl]="controlFilterFirstName" />
                    </mat-form-field>
                </div>
            </div>
            <div class="Column25Pct">
                <div class="WrapperPadding0-0-0-10">
                    <mat-form-field subscriptSizing="dynamic">
                        <mat-label>Last name</mat-label>
                        <input matInput [formControl]="controlFilterLastName" />
                    </mat-form-field>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="WrapperPadding20-8">
    <table mat-table matSort [dataSource]="this.dataSource" (matSortChange)="onSortChange($event)">
        <ng-container matColumnDef="Username">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let element">{{element.Username}}</td>
        </ng-container>

        <ng-container matColumnDef="EmailAddress">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>E-mail address</th>
            <td mat-cell *matCellDef="let element">{{element.EmailAddress}}</td>
        </ng-container>

        <ng-container matColumnDef="FirstName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>First name</th>
            <td mat-cell *matCellDef="let element">{{element.FirstName}}</td>
        </ng-container>

        <ng-container matColumnDef="LastName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Last name</th>
            <td mat-cell *matCellDef="let element">{{element.LastName}}</td>
        </ng-container>

        <ng-container matColumnDef="ActionButtons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon color="primary">more_horiz</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item color="primary" (click)="editElement(element)">
                        <mat-icon color="primary">edit</mat-icon> <span>Edit</span>
                    </button>
                    <button mat-menu-item color="warn" (click)="deleteElement(element)">
                        <mat-icon color="warn">delete</mat-icon> <span>Delete</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: this.displayedColumns;" (dblclick)="editElement(row)"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell NoDataCell" [colSpan]="this.displayedColumns.length">
                <span *ngIf="this.controlFilterUsername.value || this.controlFilterEmailAddress.value || this.controlFilterFirstName.value || this.controlFilterLastName.value">{{constants.MESSAGE_NO_RECORDS_FOUND}}</span>
                <span *ngIf="!this.controlFilterUsername.value && !this.controlFilterEmailAddress.value && !this.controlFilterFirstName.value && !this.controlFilterLastName.value">No customers have signed up in your shop yet.</span>
            </td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons />
</div>