@use '@angular/material' as mat;
@include mat.core();

@font-face {
  font-family: 'open_sansregular';
  src: url('assets/fonts/opensans-regular-webfont.eot');
  src: url('assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/opensans-regular-webfont.woff') format('woff'),
    url('assets/fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('assets/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('assets/fonts/opensans-condbold-webfont.eot');
  src: url('assets/fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/opensans-condbold-webfont.woff') format('woff'),
    url('assets/fonts/opensans-condbold-webfont.ttf') format('truetype'),
    url('assets/fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((color: (primary: $my-primary,
        accent: $my-accent,
      ),
      typography: mat.define-typography-config(),
      density: 0,
    ));

@include mat.all-component-themes($my-theme);

html,
body {
  height: 100%;
}

body {
  background-color: #222;
  color: #fff;
  font-family: 'open_sansregular', Helvetica, Tahoma;
  margin: 0;
}

#TopBar {
  background-color: #2080e0;
}

#TopBar .mat-toolbar {
  background-color: transparent;
}

#TopBar .mat-toolbar-row,
#TopBar .mat-toolbar-single-row {
  display: inline;
  padding: 0;
}

#TopBar .mdc-button__label {
  color: #fff;
}

#TopBar .RightMenu {
  float: right;
}

div.CenteredContainer {
  /*background-color: #0f0;*/
  width: 1260px;
  margin: 0 auto;
}

div.ColumnOneFifth {
  float: left;
  width: 252px;
}

div.ColumnOneFourth {
  float: left;
  width: 315px;
}

div.ColumnOneThird {
  float: left;
  width: 420px;
}

div.ColumnOneHalf {
  float: left;
  width: 630px;
}

div.ColumnTwoThird {
  float: left;
  width: 840px;
}

div.ColumnThreeFourth {
  float: left;
  width: 945px;
}

@media all and (max-width: 700px) {
  div.CenteredContainer {
    padding: 0 20px;
    width: auto;
  }

  div.ColumnOneFifth,
  div.ColumnOneFourth,
  div.ColumnOneThird,
  div.ColumnOneHalf,
  div.ColumnTwoThird,
  div.ColumnThreeFourth {
    float: none;
    width: auto;
  }
}

@media all and (min-width: 700px) and (max-width: 1000px) {
  div.CenteredContainer {
    width: 960px;
  }

  div.ColumnOneFifth {
    float: left;
    width: 192px;
  }

  div.ColumnOneFourth {
    float: left;
    width: 240px;
  }

  div.ColumnOneThird {
    float: left;
    width: 320px;
  }

  div.ColumnOneHalf {
    float: left;
    width: 480px;
  }

  div.ColumnTwoThird {
    float: left;
    width: 640px;
  }

  div.ColumnThreeFourth {
    float: left;
    width: 720px;
  }
}

@media all and (min-width: 1000px) and (max-width: 1300px) {
  div.CenteredContainer {
    width: 1260px;
  }

  div.ColumnOneFifth {
    float: left;
    width: 192px;
  }

  div.ColumnOneFourth {
    float: left;
    width: 240px;
  }

  div.ColumnOneThird {
    float: left;
    width: 320px;
  }

  div.ColumnOneHalf {
    float: left;
    width: 480px;
  }

  div.ColumnTwoThird {
    float: left;
    width: 640px;
  }

  div.ColumnThreeFourth {
    float: left;
    width: 720px;
  }
}